
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-color: black;
}

.main{
    background: url(pics/background.jpg);
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: max(1500px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.54;
    background-color: black;
}

nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    text-align: center;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}

.separation{
    height: 7px;
    background-color: rgb(37, 35, 35);
    position: relative;
    z-index: 20;
}

.btn{
    padding: 6px 18px;
    border-radius: 4px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border: 1px solid red;
}

.main input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    background-color: transparent;
    color: white;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.btn-red-sn{
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    
}


.first{
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
    color: white;
    align-items: center;
}




.sec-img img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secc-img{
    position: relative;
}

.sec-img  video{
    overflow: hidden;
    position: absolute;
    top: 80%;
    left: 64% 
  
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bold;
    
}

section.first > div :nth-child(2){
    font-size: 24px;
    padding-top: 15px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq-box{
    display: flex;
    font-size: 24px;
    background: #2d2d2d;
    justify-content: space-between;
    padding: 34px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto ;
    
}


.footer{
    display: flex;
    color: white;
    gap: 150px;
    padding: 15px;
}

.footer a{
    text-decoration: none;
    color: rgb(180, 171, 171);
    padding: 10px;
    font-size: 14px;
}

.footer-item{
    display: grid;
    flex-direction: column;
}


@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }

    section.first > div{
        display: flex;
        flex-direction: column;
        padding: 34px 85px;
    }

    nav{
        max-width: 90vw;
    }

    .main input{
        padding: 7px 53px 8px 14px;
    }

    .faq h2{
        font-size: 32px;
    }

    .sec-img img{
        width: 305px;
    }

    .sec-img video{
        display: none;
    }

    .hero> :nth-child(1){
        font-size: 32px;
    }

    .hero> :nth-child(2){
        font-size: 18px;
    }

    .hero> :nth-child(3){
        font-size: 18px;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
    }
}